#header-resume{
    height:100px;
    width:800px;
    border:1px solid;
    margin-left:150px;
    margin-top: 100px;
}

.box3-resume{
    height:1000px;
    width:800px;
    border:1px solid;
    margin-left:150px;

}

.box1-frontend{
    height:150px;
    width:800px;
    background-color: whitesmoke;
}

.box1-frontend p{
    padding-top:20px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: large;
}

.box1-frontend ul{
    display: flex;
    list-style-type: none;
    margin-top: 0px;
}

.box1-frontend ul li a{
    text-decoration: none;
    margin-right: 30px;
    color: gray;
    padding: 5px;
    font-size: 3rem;
}

.box1-frontend li a:hover{
    color:rgb(107, 14, 14);
}
.box2-backend{
    height:150px;
    width:800px;
    background-color: whitesmoke;

}

.box3-others{
    height:150px;
    width:800px;
    background-color: whitesmoke;

}